.favorites-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #c4c4c4;
}

.favorites-head {
  display: flex;
  justify-content: space-between;
}

.favorit {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  background: #fff;
  border-radius: 2px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.favorites-delete {
  padding: 0 10px;
  border: none;
  outline: none;
  background: #c30000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
